{% extends 'base.html' %}   <!--  "base html" (templatesqui possède des blocks)  que l'on peut étendre avec des templates prédéfinies où l'on pourra modifier le contenu -->
{% block content %}  <!-- pour ouvrir un block au nom "content" q l'on peut modifier si présent avec notre code, si non présent dans la template base.html il sera créer dans la base.html-->
    <div class="form form__signup">  <!-- balise html div premettant de remplir le block "content"-->
        <h2>Inscription</h2>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input class="btn" type="submit" value="S'inscrire">
        </form>
    </div>
{% endblock content %}