# Ignore la base de données SQLite
db.sqlite3

# Ignore les fichiers de migration
*/migrations/*

# Ignore les dossiers de cache et fichiers temporaires
*.pyc
__pycache__/
*.log
*.pot
*.mo

# Ignore les fichiers secrets
.env

# Ignore les dossiers de virtualenv
venv/